<form class="container mt-4 px-5" action="/store" method="POST">
    <div class="mb-3">
      <label for="nameUser" class="form-label">Name</label>
      <input type="text" class="form-control" id="nameUser" name="name">
    </div>
    <div class="mb-3">
      <label for="emailUser" class="form-label">Email address</label>
      <input type="email" class="form-control" id="emailUser" name="email">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
  
<div class="w-100 p-3 d-flex justify-content-center">
  <a class="btn btn-success" href="/login">Log In</a>
</div>