<form class="container mt-4 px-5" action="/authentication" method="POST">
    <div class="mb-3">
      <label for="emailUser" class="form-label">Email address</label>
      <input type="email" class="form-control" id="emailUser" name="email">
    </div>
    <div class="mb-3">
      <label for="passwordUser" class="form-label">Password</label>
      <input type="password" class="form-control" id="passwordUser" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
</form>
  
<div class="w-100 p-3 d-flex justify-content-center">
      <a class="btn btn-success" href="/register"> Register</a>
</div>
